html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */
@auto only screen and (min-width: 1160px) {
  left: 800px;

}
